body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  margin-right: 0.3em;
}

.one, .two {
  background: #eee;
}

.itslike {

}

.butfor {

}
